/*OMBRE*/
/*INSERTION ICONS*/
/*TRANSITION*/
/*INSERTION ICON COEUR*/
/*BOUTON*/
/*LOADING*/
@keyframes loading {
  100% {
    opacity: 0;
    z-index: -100;
  }
}
/*LOADING BARS*/
@keyframes bars {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
/*APPARITION CARD*/
@keyframes appearance {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
  }
}
/*Reset CSS*/
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/*Colors*/
/*FONTS*/
* {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

body {
  font-weight: 300;
  margin-top: 3.5rem;
}

/*TITRES*/
h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-size: 1.2rem;
}

h2 {
  padding-bottom: 1rem;
}

/*BOUTONS*/
button {
  border: none;
  box-shadow: 0.2rem 0.2rem #ededed;
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
}

/*LIENS*/
a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

/*LOADINS*/
.loading {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.6);
  animation: loading 0.1s 3s both;
}
.loading__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.loading__container__item {
  animation: bars 1000ms backwards infinite ease-in-out alternate;
  height: 5rem;
  width: 0.8rem;
  margin: 1rem;
  border-radius: 2rem;
}
.loading__container__item__one {
  background-color: #9356DC;
}
.loading__container__item__two {
  background-color: #C968DB;
  animation-delay: 200ms;
}
.loading__container__item__three {
  background-color: #FF79DA;
  animation-delay: 400ms;
}

/*HEADER*/
.header {
  display: block;
  position: absolute;
  background-color: #FFF;
  width: 100%;
  top: 0;
  height: 3.5rem;
  padding-top: 0.5rem;
  box-shadow: 0 0.1rem lightgray;
}
.header__title {
  display: block;
  font-family: "Shrikhand";
  font-size: 1.6rem;
  text-align: center;
}
.header__title__menu::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1rem;
  margin-left: -0.25rem;
  position: absolute;
  background: url("../Images/icons/arrow.svg") center center no-repeat;
  top: 1.25rem;
  left: 1rem;
}

/*FOOTER*/
.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0.9rem;
  background-color: #404040;
}
.footer__link {
  color: #FFF;
  padding: 0.1rem;
  margin: 0.2rem 0;
  font-weight: 500;
  font-size: 0.9rem;
  transition: all 400ms ease-in-out;
}
.footer__link__container {
  display: flex;
}
.footer__link__container i {
  width: 1.5rem;
}
.footer__link:hover {
  color: #c9abee;
}
.footer__title {
  font-family: "Shrikhand";
  margin-bottom: 0.6rem;
  font-size: 1rem;
}

/*ICONS*/
.fa-utensils {
  margin-top: 0.05rem;
  font-size: 1rem;
}

.fa-hands-helping {
  margin-top: 0.1rem;
  font-size: 0.9rem;
}

/*SECTION LOCATION*/
#location {
  text-align: center;
  background-color: #e8e8e8;
  padding: 1rem 0;
}
#location__text {
  font-weight: 500;
}
#location__text:before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1rem;
  margin-left: -0.25rem;
  margin-bottom: -0.1rem;
  margin-right: 0.5rem;
  background: url("../Images/icons/map.svg") center center no-repeat;
}

/*SECTION EXPLORATION*/
#exploration {
  padding: 1.5rem;
  text-align: center;
  background-color: #F2F2F2;
}
#exploration__title {
  padding: 0 1rem 0.5rem 1rem;
}
#exploration__button {
  margin-top: 1rem;
  padding: 0.8rem 1rem;
  color: #FFF;
  border-radius: 2rem;
  background-color: #FF79DA;
  transition: background-color 300ms ease-in;
  background-image: linear-gradient(-15deg, #9356DC, rgba(255, 255, 255, 0));
}
#exploration__button:hover {
  background-color: #ff46cc;
}

/*SECTION OPERATION*/
.operation {
  padding: 1.5rem 1rem;
}
.operation__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.operation__container__button {
  display: flex;
  width: 100%;
  text-align: start;
  padding: 1rem 1rem 1rem 2rem;
  margin: 0.5rem 0;
  border-radius: 1rem;
  background-color: #fafafa;
  transition: all 400ms ease-in-out;
}
.operation__container__button__index {
  width: 1.2rem;
  height: 1.2rem;
  text-align: center;
  border-radius: 1rem;
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: #9356DC;
  margin: auto 2rem auto -2.5rem;
  padding-top: 0.15rem;
}
.operation__container__button i {
  width: 2.5rem;
  color: #404040;
  transition: all 400ms ease-in-out;
}
.operation__container__button:hover {
  background-color: #f2eafb;
  color: #9356DC;
}
.operation__container__button:hover i {
  color: #9356DC;
}

/*SECTION RESTAURANT*/
#restaurants {
  padding: 1.5rem 0.5rem;
  background-color: #F2F2F2;
}

/*CARD WELCOME*/
.card-welcome {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  border-radius: 1rem;
  margin: 1rem 0.5rem;
  box-shadow: 0.2rem 0.2rem #ededed;
  transition: all 400ms ease-in-out;
}
.card-welcome__photo {
  height: 10rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.card-welcome__content {
  padding: 1rem;
  display: flex;
  height: 5rem;
}
.card-welcome__content__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.card-welcome__content__icon {
  align-self: center;
  margin-right: 1rem;
  height: 1.4rem;
  width: 1.4rem;
  background: url("../Images/icons/heart.svg") center center no-repeat;
  transition: background 800ms ease-in;
}
.card-welcome__content__icon:hover {
  background: url("../Images/icons/heart_solid.svg") center center no-repeat;
}
.card-welcome__content__icon__new::before {
  content: "Nouveau";
  display: block;
  text-align: center;
  float: right;
  width: 5rem;
  padding: 0.3rem;
  margin-top: -11rem;
  margin-right: -1rem;
  background: #99E2D0;
  color: #278870;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 0.2rem;
}
.card-welcome:hover {
  transform: scale(1.02);
}

/*MEDIA QUERIES*/
/*ECRAN MOYEN*/
@media screen and (min-width: 600px) {
  #restaurants {
    display: flex;
    flex-wrap: wrap;
  }
  #restaurants h2 {
    min-width: 100%;
  }

  .card-welcome {
    margin: 0.5rem 0.5rem;
    min-width: 45%;
    flex: 1;
  }
}
/*GRAND ECRAN*/
@media screen and (min-width: 1000px) {
  .card-welcome {
    min-width: 22%;
    flex: 1;
  }
}
/*SECTION PHOTO*/
.photo {
  display: block;
  position: absolute;
  top: 3.5rem;
}
.photo__img {
  object-fit: cover;
  max-height: 50rem;
  width: 100%;
}

/*SECTION MENU*/
.menu {
  position: relative;
  margin-top: 18rem;
  border-radius: 2rem 2rem 0 0;
  padding: 1rem;
  background-color: #F2F2F2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menu__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.menu__title__text {
  margin: 0.5rem 0 1rem 1rem;
  font-family: "Shrikhand";
  font-size: 1.6rem;
}
.menu__title__icon {
  margin: 1rem 1rem 0 0;
  height: 1.4rem;
  width: 1.4rem;
  background: url("../Images/icons/heart.svg") center center no-repeat;
  transition: background 800ms ease-in;
}
.menu__title__icon:hover {
  background: url("../Images/icons/heart_solid.svg") center center no-repeat;
}
.menu__starters, .menu__dishes, .menu__dessert {
  min-width: 100%;
  flex: 1;
  margin: 0.5rem 1rem;
}
.menu__starters__title, .menu__dishes__title, .menu__dessert__title {
  padding: 0.2rem 0;
  width: 2.5rem;
  border-bottom: 0.2rem solid #99E2D0;
}
.menu__order {
  min-width: 100%;
  text-align: center;
}
.menu__order__button {
  margin-top: 1rem;
  padding: 0.8rem 1rem;
  color: #FFF;
  border-radius: 2rem;
  background-color: #FF79DA;
  transition: background-color 300ms ease-in;
  background-image: linear-gradient(-15deg, #9356DC, rgba(255, 255, 255, 0));
  padding-right: 3rem;
  padding-left: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.menu__order__button:hover {
  background-color: #ff46cc;
}

/*CARD MENU*/
.card-menu {
  opacity: 0;
  padding: 1rem 0 1rem 1rem;
  margin: 1rem 0;
  background-color: #FFF;
  border-radius: 1rem;
  display: flex;
  overflow: hidden;
  max-width: 30rem;
}
.card-menu__text {
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 500ms ease-in-out;
}
.card-menu__text h3, .card-menu__text p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 500ms ease-in-out;
}
.card-menu__price {
  width: 3rem;
  min-height: 100%;
  margin: 0 2rem 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  transition: all 500ms ease-in-out;
}
.card-menu__icon {
  margin: -1rem -4.5rem -1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  min-height: 100%;
  background-color: #99E2D0;
  transition: all 500ms ease-in-out;
}
.card-menu__icon__img {
  background-color: #99E2D0;
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 500ms ease-in-out;
}
.card-menu:hover .card-menu__text {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-menu:hover .card-menu__text h3, .card-menu:hover .card-menu__text p {
  width: 80%;
}
.card-menu:hover .card-menu__price {
  transform: translate(-4.5rem);
}
.card-menu:hover .card-menu__icon {
  transform: translate(-4.5rem);
}
.card-menu:hover .card-menu__icon__img {
  transform: rotate(360deg);
}

/*APPARITION CARD*/
.menu__starters__card, .menu__dishes__card, .menu__desserts__card {
  animation: appearance 1s forwards ease-in-out;
}
.menu__starters__card__1, .menu__dishes__card__1, .menu__desserts__card__1 {
  animation-delay: 3200ms;
}
.menu__starters__card__2, .menu__dishes__card__2, .menu__desserts__card__2 {
  animation-delay: 3400ms;
}
.menu__starters__card__3, .menu__dishes__card__3, .menu__desserts__card__3 {
  animation-delay: 3600ms;
}
.menu__starters__card__4, .menu__dishes__card__4, .menu__desserts__card__4 {
  animation-delay: 3800ms;
}

/*MEDIA QUERIES*/
/*ECRAN MOYEN*/
@media screen and (min-width: 600px) {
  .menu__starters, .menu__dishes, .menu__dessert {
    min-width: 45%;
    max-width: 48%;
  }
}
/*GRAND ECRAN*/
@media screen and (min-width: 900px) {
  .menu__starters, .menu__dishes, .menu__dessert {
    min-width: 30%;
  }
}
/*TRES PETIT ECRAN*/
@media screen and (max-width: 350px) {
  .menu {
    margin-top: 15rem;
  }
}

/*# sourceMappingURL=style.css.map */
