/*Reset CSS*/
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/*Couleurs*/
/*Polices*/
* {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

h1 {
  font-family: "Shrikhand";
  font-size: 1.6rem;
}

body {
  font-weight: 300;
}

/*Mixins*/
/*General*/
h2, h3, h4, h5, h6 {
  padding-bottom: 1rem;
  font-weight: 700;
  font-size: 1.2rem;
}

button {
  border: none;
  box-shadow: 0.2rem 0.2rem #ededed;
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/*Header*/
#header {
  padding: 0.5rem;
}
#header__title {
  text-align: center;
}

/*Section location*/
#location {
  text-align: center;
  background-color: #e8e8e8;
  padding: 1rem 0;
}
#location__text {
  font-weight: 500;
}
#location__text:before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1rem;
  margin-left: -0.25rem;
  margin-bottom: -0.1rem;
  margin-right: 0.5rem;
  background: url("../Images/icons/map.svg") center center no-repeat;
}

/*Section exploration*/
#exploration {
  padding: 1.5rem;
  text-align: center;
  background-color: #F2F2F2;
}
#exploration__title {
  padding: 0 1rem 0.5rem 1rem;
}
#exploration__button {
  margin-top: 1rem;
  padding: 0.8rem 1rem;
  color: #FFF;
  transition: background 300ms ease-in;
  background: linear-gradient(-15deg, #9356DC, #FF79DA);
  border-radius: 2rem;
}
#exploration__button:hover {
  transition: background 300ms ease-in;
  background: linear-gradient(-15deg, #a16be0, #ff93e1);
}

/*Section operation*/
.operation {
  padding: 1.5rem 1rem;
}
.operation__container {
  display: flex;
  flex-direction: column;
}
.operation__container__button {
  text-align: start;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 1rem;
  background-color: #fafafa;
  transition: background 300ms ease-in;
}
.operation__container__button::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1rem;
  margin-left: -0.25rem;
  margin-bottom: -0.15rem;
  margin-right: 1rem;
}
.operation__container__button__one::before {
  transition: background 300ms ease-in;
  background: url("../Images/icons/mobile_g.svg") center center no-repeat;
}
.operation__container__button__one:hover::before {
  transition: background 300ms ease-in;
  background: url("../Images/icons/mobile_p.svg") center center no-repeat;
}
.operation__container__button__two::before {
  transition: background 300ms ease-in;
  background: url("../Images/icons/list_g.svg") center center no-repeat;
}
.operation__container__button__two:hover::before {
  transition: background 300ms ease-in;
  background: url("../Images/icons/list_p.svg") center center no-repeat;
}
.operation__container__button__three::before {
  transition: background 300ms ease-in;
  margin-bottom: -0.2rem;
  background: url("../Images/icons/store_g.svg") center center no-repeat;
}
.operation__container__button__three:hover::before {
  transition: background 300ms ease-in;
  background: url("../Images/icons/store_p.svg") center center no-repeat;
}
.operation__container__button:hover {
  transition: background 300ms ease-in;
  background-color: #f2eafb;
}

/*Section restaurants*/
#restaurants {
  padding: 1.5rem 1rem;
  background-color: #F2F2F2;
}

/*Carte*/
.card {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem #ededed;
  margin: 0.5rem 0;
  transition: transform 150ms ease-in;
}
.card:hover {
  transition: transform 150ms ease-in;
  transform: scale(1.01);
}
.card__photo {
  height: 10rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.card__content {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__content__text__title {
  padding-bottom: 0.3rem;
}
.card__content__icon {
  transition: background 800ms ease-in;
  margin-right: 1rem;
  height: 1.4rem;
  width: 1.4rem;
  background: url("../Images/icons/heart.svg") center center no-repeat;
}
.card__content__icon:hover {
  transition: background 800ms ease-in;
  background: url("../Images/icons/heart_solid.svg") center center no-repeat;
}

/*Footer*/
.footer {
  display: flex;
  flex-direction: column;
  padding: 0.9rem;
  background-color: #404040;
}
.footer__link {
  color: #FFF;
  padding: 0.1rem;
  margin: 0.2rem 0;
  font-weight: 500;
  font-size: 0.9rem;
  transition: color 300ms ease-in;
}
.footer__link__one::before, .footer__link__two::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1rem;
  margin-left: -0.25rem;
  margin-bottom: -0.2rem;
  margin-right: 0.25rem;
}
.footer__link__one::before {
  background: url("../Images/icons/utensils_g.svg") center center no-repeat;
  background-size: 0.7rem;
}
.footer__link__one:hover::before {
  background: url("../Images/icons/utensils_p.svg") center center no-repeat;
  background-size: 0.7rem;
}
.footer__link__two::before {
  background: url("../Images/icons/hands_g.svg") center center no-repeat;
  background-size: 0.9rem;
}
.footer__link__two:hover::before {
  background: url("../Images/icons/hands_p.svg") center center no-repeat;
  background-size: 0.9rem;
}
.footer__link:hover {
  transition: color 300ms;
  color: #c9abee;
}
.footer__title {
  font-family: "Shrikhand";
  margin-bottom: 0.6rem;
  font-size: 1rem;
}

/*# sourceMappingURL=style.css.map */
