/*FOOTER*/
.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: .9rem;
    background-color: darken($grey, 70%);
    &__link {
        color: $white;
        padding: .1rem;
        margin: .2rem 0;
        font-weight: 500;
        font-size: .9rem;
        transition: color 300ms ease-in;
        &:hover {
            transition: color 300ms;
            color: lighten($primary, 20%);
        }
    } 
    &__title {
        font-family: "Shrikhand";
        margin-bottom: .6rem;
        font-size: 1rem;
    }
}

/*ICONS*/
.fa-utensils {
    margin-right: .4rem;
    font-size: 1rem;
}

.fa-hands-helping {
    margin-right: .1rem;
    font-size: .9rem;
}