/*Reset CSS*/
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/*Colors*/
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$grey: #F2F2F2;
$white: #FFF;

/*Fonts*/
* {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

body {
    font-weight: 300;
    margin-top: 3.5rem;
}

/*Titles*/
h2,h3,h4,h5,h6 {
    font-weight: 700;
    font-size: 1.2rem;
}

/*Buttons*/
button {
    border: none;
    @include box_shadow;
    font-weight: 500;
    font-size: .9rem;
    cursor: pointer;
}

/*Links*/
a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

/*Loading*/
.loading {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: rgba(255,255,255,.6);
    animation: loading .1s 3s both;
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        &__item {
            animation: bars 1000ms backwards infinite ease-in-out alternate;
            height: 5rem;
            width: .8rem;
            margin: 1rem;
            border-radius: 2rem;
            &__one {
                background-color: $primary;
            }
            &__two {
                background-color: #C968DB;
                animation-delay: 200ms;
            }
            &__three {
                background-color: $secondary;
                animation-delay: 400ms;
            }
        }
    }
}