/*Keyframes*/
@keyframes loading {
    100% {
        opacity: 0;
        z-index: -100;
    }
}

@keyframes bars {
    0% {
        transform: scaleY(0.5);     
    }
    100% {
        transform: scaleY(1.0);
    }
}

@keyframes appearance {
    0% {
        opacity: 0;
        transform: translateY(-2rem);
    }
    100% {
        opacity: 1;
    }
}