/*Reset CSS*/
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/*Couleurs*/
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$grey: #F2F2F2;
$white: #FFF;

/*Polices*/
* {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

body {
    font-weight: 300;
    margin-top: 3.5rem;
}

/*Mixins*/
@mixin box_shadow {
    box-shadow: .2rem .2rem darken($grey, 2%);
}

@mixin insert_before {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1rem;
    margin-left: -.25rem;
}

@mixin transition_background_regular {
    transition: background 300ms ease-in;
}

@mixin heart {
    height: 1.4rem;
    width: 1.4rem; 
    background: url("../Images/icons/heart.svg") center center no-repeat;
    transition: background 800ms ease-in;
    &:hover {
        background: url("../Images/icons/heart_solid.svg") center center no-repeat;
    }
}

@mixin linear_button {
    margin-top: 1rem;
    padding: .8rem 1rem;
    color: $white;
    border-radius: 2rem;
    background-color: $secondary;
    transition: background-color 300ms ease-in;
    background-image: linear-gradient(-15deg, $primary, rgba(255,255,255,0));
    &:hover {
        background-color: darken($secondary,10%);
    }
}

/*Keyframes*/
@keyframes loading {
    100% {
        opacity: 0;
        z-index: -100;
    }
}

@keyframes bars {
    0% {
        transform: scaleY(0.5);     
    }
    100% {
        transform: scaleY(1.0);
    }
}

/*General*/
h2,h3,h4,h5,h6 {
    padding-bottom: 1rem;
    font-weight: 700;
    font-size: 1.2rem;
}

button {
    border: none;
    @include box_shadow;
    font-weight: 500;
    font-size: .9rem;
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

/*loading*/
.loading {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: rgba(255,255,255,.6);
    animation: loading .1s 3ms both;
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        &__item {
            animation: bars 1000ms backwards infinite ease-in-out alternate;
            height: 5rem;
            width: .8rem;
            margin: 1rem;
            border-radius: 2rem;
            &__one {
                background-color: $primary;
            }
            &__two {
                background-color: #C968DB;
                animation-delay: 200ms;
            }
            &__three {
                background-color: $secondary;
                animation-delay: 400ms;
            }
        }
    }
}

/*Header*/
.header {
    display: block;
    position: absolute;
    background-color: $white;
    width: 100%;
    top: 0;
    height: 3.5rem;
    padding-top: .5rem;
    box-shadow: 0 .1rem darken($grey, 12%);
    &__title {
        display: block;
        font-family: "Shrikhand";
        font-size: 1.6rem;
        text-align: center;
        &__menu::before {
            @include insert_before;
            position: absolute;
            background: url("../Images/icons/arrow.svg") center center no-repeat;
            top: 1.25rem;
            left: 1rem;
        }
    }
}

/*Section location*/
#location {
    text-align: center;
    background-color: darken($grey, 4%);
    padding: 1rem 0;
    &__text {
        font-weight: 500;
        &:before {
            @include insert_before;
            margin-bottom: -.1rem;
            margin-right: .5rem;
            background: url("../Images/icons/map.svg") center center no-repeat;
        }
    }
}

/*Section exploration*/
#exploration {
    padding: 1.5rem;
    text-align: center;
    background-color: $grey;
    &__title {
        padding: 0 1rem .5rem 1rem;
    }
    &__button {
        @include linear_button;
    }
}

/*Section operation*/
#operation {
    padding: 1.5rem 1rem 0 1rem;
}

.operation {
    display: flex;
    &__list {
        z-index: 2;
        & li {
        font-size: .8rem;
        display: block;
        width: 1.2rem;
        height: 1.2rem;
        padding-top: .2rem;
        text-align: center;
        background: $primary;
        border-radius: 5rem;
        margin: 1.5rem -.6rem 2.9rem 0;
        color: $white;
        font-weight: 500;
        }
    }
    &__container {
        flex: 1;
        display: flex;
        flex-direction: column;
        &__button {
            text-align: start;
            padding: 1rem 1rem 1rem 2rem;
            margin: .5rem 0;
            border-radius: 1rem;
            background-color: lighten($grey, 3%);
            @include transition_background_regular;
            &::before {
                @include insert_before;
                margin-bottom: -.15rem;
                margin-right: 1rem;
            }
            &__one {
                &::before {
                    @include transition_background_regular;
                    background: url("../Images/icons/mobile_g.svg") center center no-repeat;
                }
                &:hover::before {
                    background: url("../Images/icons/mobile_p.svg") center center no-repeat;
                }
            }
            &__two {
                &::before {
                    @include transition_background_regular;
                    background: url("../Images/icons/list_g.svg") center center no-repeat;
                }
                &:hover::before {
                    background: url("../Images/icons/list_p.svg") center center no-repeat;
                }
            }
            &__three {
                &::before {
                    @include transition_background_regular;
                    margin-bottom: -.2rem;
                    background: url("../Images/icons/store_g.svg") center center no-repeat;
                }
                &:hover::before {
                    background: url("../Images/icons/store_p.svg") center center no-repeat;
                }
            }
            &:hover {
                background-color: lighten($primary, 35%);
            }
        }
    }
}

/*Section restaurants*/
#restaurants {
    padding: 1.5rem 1rem;
    background-color: $grey;
}

/*Carte*/
.card {
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: 1rem;
    @include box_shadow;
    margin: .5rem 0;
    transition: transform 150ms ease-in;
    overflow: hidden;
    &__photo {
        height: 10rem;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
    }
    &__content {
        padding: 1rem;
        display: flex;
        &__text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            &__title {
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-bottom: .3rem;
            }
            &__district {
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
         }
        &__icon {
            align-self: center;
            margin-right: 1rem;
            @include heart;
            &__new::before {
                content: "Nouveau";
                display: block;
                text-align: center;
                float: right;
                width: 5rem;
                height: auto;
                padding: .3rem;
                margin-top: -11rem;
                margin-right: -1rem;
                background: $tertiary;
                color: darken($tertiary, 40%);
                font-size: .8rem;
                font-weight: 500;
                border-radius: .2rem;
            }
        }
        &__additional {
            &__price {
                display: flex;
                align-items: flex-end;
                font-weight: 500;
                padding-right: 1rem;
                padding-left: .5rem;
                /*background-color: $white;*/
            }
            &__icon {
                width: 4rem;
                min-height: 5rem;
                margin: -1.5rem -5rem -1.5rem 0;
                padding: 1.6rem 1rem 1rem 1rem;
                align-self: center;
                background-color: $tertiary;
            }
            &__price, &__icon, &__icon img {
                transition: transform 1000ms ease-in;  
            }

        }
    }
    &:hover {
        .card {
            transform: scale(1.01);
        }
        .card__content__additional {
            &__price, &__icon {
                transform: translate(-4rem);
            }
            &__icon img {
                transform: rotate(360deg);
            }
        }
    }
}

/*Footer*/
.footer {
    display: flex;
    flex-direction: column;
    padding: .9rem;
    background-color: darken($grey, 70%);
    &__link {
        color: $white;
        padding: .1rem;
        margin: .2rem 0;
        font-weight: 500;
        font-size: .9rem;
        transition: color 300ms ease-in;
        &__one::before, &__two::before {
            @include insert_before;
            margin-bottom: -.2rem;
            margin-right: .25rem;
        }
        &__one {
            &::before {
                @include transition_background_regular;
                background: url("../Images/icons/utensils_g.svg") center center no-repeat;
            }
            &:hover::before {
                background: url("../Images/icons/utensils_p.svg") center center no-repeat;
            }
        }
        &__two {
            &::before {
                @include transition_background_regular;
                background: url("../Images/icons/hands_g.svg") center center no-repeat;
            }
            &:hover::before {
                background: url("../Images/icons/hands_p.svg") center center no-repeat;
            }
        }
        &:hover {
            transition: color 300ms;
            color: lighten($primary, 20%);
        }
    }
    &__title {
        font-family: "Shrikhand";
        margin-bottom: .6rem;
        font-size: 1rem;
    }
}

/*PAGE MENU*/

/*section photo */
#photo {
   display: block;
   position: absolute;
   top: 3.5rem;
}

.menu {
    position: relative;
    margin-top: 18rem;
    border-radius: 2rem 2rem 0 0;
    padding: 1rem;
    background-color: $grey;
    &__title {
        display: flex;
        justify-content: space-between;
        &__text {
            margin: .5rem 0;
            font-family: "Shrikhand";
            font-size: 1.6rem;
        }
        &__icon {
            margin: 1rem 1rem 0 0;
            @include heart;
        }
    }
    &__starters, &__dishes, &__dessert {
        &__title {
            margin: 1.8rem 0 .8rem 0;
            padding: .2rem 0;
            width: 2.5rem;
            border-bottom: .2rem solid $tertiary;
        }
    }
    &__order {
        text-align: center;
        &__button {
            @include linear_button;
            padding-right: 3rem;
            padding-left: 3rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
}