/*Reset CSS*/
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/*Couleurs*/
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$grey: #F2F2F2;
$white: #FFF;

/*Polices*/
* {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

h1 {
    font-family: "Shrikhand";
    font-size: 1.6rem;
}

body {
    font-weight: 300;
}

/*Mixins*/
@mixin box_shadow {
    box-shadow: .2rem .2rem darken($grey, 2%);
}

@mixin insert_before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

/*General*/
h2,h3,h4,h5,h6 {
    padding-bottom: 1rem;
    font-weight: 700;
    font-size: 1.2rem;
}

button {
    border: none;
    @include box_shadow;
    font-weight: 500;
    font-size: .9rem;
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/*Header*/
#header {
    padding: .5rem;
    &__title {
        text-align: center;
    }
}

/*Section location*/
#location {
    text-align: center;
    background-color: darken($grey, 4%);
    padding: 1rem 0;
    &__text {
        font-weight: 500;
    }
}


/*Section exploration*/
#exploration {
    padding: 1.5rem;
    text-align: center;
    background-color: $grey;
    &__title {
        padding: 0 1rem .5rem 1rem;
    }
    &__button {
        margin-top: 1rem;
        padding: .8rem 1rem;
        color: $white;
        background: linear-gradient(-15deg, $primary, $secondary);
        border-radius: 2rem;
    }
}

/*Section operation*/
.operation {
    padding: 1.5rem 1rem;
    &__container {
        display : flex;
        flex-direction: column;
        &__button {
            text-align: start;
            padding: 1rem;
            margin: .5rem 0;
            border-radius: 1rem;
            background-color: lighten($grey, 3%);
            transition: background 300ms ease-in;
            &::before {
                @include insert_before;
                margin-bottom: -.15rem;
                margin-right: 1rem;
            }
            &__one {
                &::before {
                    transition: background 300ms ease-in;
                    background: url("../Images/icons/mobile_g.svg") center center no-repeat;
                }
                &:hover::before {
                    transition: background 300ms ease-in-out;
                    background: url("../Images/icons/mobile_p.svg") center center no-repeat;
                }
            }
            &__two {
                &::before {
                    transition: background 300ms ease-in;
                    background: url("../Images/icons/list_g.svg") center center no-repeat;
                }
                &:hover::before {
                    transition: background 300ms ease-in-out;
                    background: url("../Images/icons/list_p.svg") center center no-repeat;
                }
            }
            &__three {
                &::before {
                    transition: background 300ms ease-in;
                    margin-bottom: -.2rem;
                    background: url("../Images/icons/store_g.svg") center center no-repeat;
                }
                &:hover::before {
                    transition: background 300ms ease-in-out;
                    background: url("../Images/icons/store_p.svg") center center no-repeat;
                }
            }
            &:hover {
                transition: background 300ms ease-in-out;
                background-color: lighten($primary, 35%);
            }
        }
    }
}

/*Section restaurants*/
#restaurants {
    padding: 1.5rem 1rem;
    background-color: $grey;
}

/*Carte*/
.card {
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: 1rem;
    @include box_shadow;
    margin: .5rem 0;
    &__photo {
        height: 10rem;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
    }
    &__content {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__text {
            &__title {
                padding-bottom: .3rem;
            }
        }
        &__icon {
            transition: background 800ms ease-in;
            margin-right: 1rem;
            height: 1.4rem;
            width: 1.4rem;
            background: url("../Images/icons/heart.svg") center center no-repeat;
        }
        &__icon:hover {
            transition: background 800ms ease-in-out;
            background: url("../Images/icons/heart_solid.svg") center center no-repeat;
        }
    }
}

/*Footer*/
.footer {
    display: flex;
    flex-direction: column;
    padding: .9rem;
    background-color: darken($grey, 70%);
    &__link {
        color: $white;
        padding: .1rem;
        margin: .2rem 0;
        font-weight: 500;
        font-size: .9rem;
        &__one::before, &__two::before {
            @include insert_before;
            margin-bottom: -.2rem;
            margin-right: .5rem;
        }
        &__one::before {
            background: url("../Images/icons/utensils.svg") center center no-repeat;
            background-size: .7rem;
        }
        &__two::before {
            background: url("../Images/icons/hands.svg") center center no-repeat;
            background-size: .9rem;
        }
    }
    &__title {
        font-family: "Shrikhand";
        margin-bottom: .6rem;
        font-size: 1rem;
    }
}