/*SECTION PHOTO*/
.photo {
    display: block;
    position: absolute;
    top: 3.5rem;
    min-width: 100%;
    &__img {
        object-fit: cover;
        max-height: 50rem;
        min-width: 100%;
    }
}

/*SECTION MENU*/
.menu {
    position: relative;
    margin-top: 18rem;
    border-radius: 2rem 2rem 0 0;
    padding: 1rem;
    background-color: $grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        &__text {
            margin: .5rem 0 1rem 1rem;
            font-family: "Shrikhand";
            font-size: 1.6rem;
        }
        &__icon {
            margin: 1rem 1rem 0 0;
            @include heart;
        }
    }
    &__starters, &__dishes, &__dessert {
        min-width: 100%;
        flex: 1;
        margin: .5rem 1rem;
        &__title {
            padding: .2rem 0;
            width: 2.5rem;
            border-bottom: .2rem solid $tertiary;
        }
    }
    &__order {
        min-width: 100%;
        text-align: center;
        &__button {
            @include linear_button;
            padding-right: 3rem;
            padding-left: 3rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
}

/*CARD MENU*/
.card-menu {
    opacity: 0;
    padding: 1rem 0 1rem 1rem;
	margin: 1rem 0;
    background-color: $white;
    border-radius: 1rem;
	display: flex;
	overflow: hidden;
    max-width: 30rem;
    &__text {
		width: 90%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		transition: all 500ms ease-in-out;
        & h3, p {
            width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			transition: all 500ms ease-in-out
        }
    }
    &__price {
		width: 3rem;
        min-height: 100%;
        margin: 0 2rem 0 1rem;
		display: flex;
		flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
		transition: all 500ms ease-in-out;
    }
    &__icon {
        margin: -1rem -4.5rem -1rem 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 4.5rem;
		min-height: 100%;
		background-color: $tertiary;
		transition: all 500ms ease-in-out;
        &__img {
			background-color:$tertiary;
			width: 1.8rem;
			height: 1.8rem;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: all 500ms ease-in-out;
        }
    }
    &:hover {
        .card-menu {
            &__text {
                width: 80%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                & h3, p {
                    width: 80%;
                }
            }
            &__price {
                transform: translate(-4.5rem);
            }
            &__icon {
                transform: translate(-4.5rem);
                &__img {
                    transform: rotate(360deg);
                }
            }
        }
    }
}

/*APPARITION CARD*/
.menu {
    &__starters__card, &__dishes__card, &__desserts__card {
        animation: appearance 1.4s forwards ease-in-out ;
        &__1 {
            animation-delay: 200ms;
        }
        &__2 {
            animation-delay: 400ms;
        }
        &__3 {
            animation-delay: 600ms;
        }
        &__4 {
            animation-delay: 800ms;
        }
    }
}

/*MEDIA QUERIES*/
/*ECRAN MOYEN*/
@media screen and (min-width: 600px) {
    .menu {
        &__starters, &__dishes, &__dessert {
            min-width: 45%;
            max-width: 48%;
        }
    }
}

/*GRAND ECRAN*/
@media screen and (min-width: 900px) {
    .menu {
        &__starters, &__dishes, &__dessert {
            min-width: 30%;
        }
    }
}

/*TRES PETIT ECRAN*/
@media screen and (max-width: 350px) {
    .menu {
        margin-top: 15rem;
    }
}