/*SECTION LOCATION*/
#location {
    text-align: center;
    background-color: darken($grey, 4%);
    padding: 1rem 0;
    &__text {
        font-weight: 500;
        &:before {
            @include insert_before;
            margin-bottom: -.1rem;
            margin-right: .5rem;
            background: url("../Images/icons/map.svg") center center no-repeat;
        }
    }
}

/*SECTION EXPLORATION*/
#exploration {
    padding: 1.5rem;
    text-align: center;
    background-color: $grey;
    &__title {
        padding: 0 1rem .5rem 1rem;
    }
    &__button {
        @include linear_button;
    }
}

/*SECTION OPERATION*/
.operation {
    padding: 1.5rem 1rem;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &__button {
            display: flex;
            width: 100%;
            text-align: start;
            padding: 1rem 1rem 1rem 2rem;
            margin: .5rem 0;
            border-radius: 1rem;
            background-color: lighten($grey, 3%);
            transition: all 400ms ease-in-out;
            &__index {
                width: 1.2rem;
                height: 1.2rem;
                text-align: center;
                border-radius: 1rem;
                color: white;
                font-size: .8rem;
                font-weight: 500;
                background-color: $primary;
                margin: auto 2rem auto -2.5rem;
                padding-top: .15rem;
            }
            & i {
                width: 2.5rem;
                color: darken($grey , 70%);
                transition: all 400ms ease-in-out;
            }
            &:hover {
                background-color: lighten($primary, 35%);
                color: $primary;
                & i {
                    color: $primary;
                }
            }
        }
    }
}

/*SECTION RESTAURANT*/
#restaurants {
    padding: 1.5rem .5rem;
    background-color: $grey;
}

/*CARD WELCOME*/
.card-welcome {
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: 1rem;
    margin: 1rem .5rem;
    @include box_shadow;
    transition: all 400ms ease-in-out;
    &__photo {
        height: 10rem;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
    }
    &__content {
        padding: 1rem;
        display: flex;
        height: 5rem;
        &__text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;
        }
        &__icon {
            align-self: center;
            margin-right: 1rem;
            @include heart;
            &__new::before {
                content: "Nouveau";
                display: block;
                text-align: center;
                float: right;
                width: 5rem;
                padding: .3rem;
                margin-top: -11rem;
                margin-right: -1rem;
                background: $tertiary;
                color: darken($tertiary, 40%);
                font-size: .8rem;
                font-weight: 500;
                border-radius: .2rem;
            }
        }
    }
    &:hover {
        transform: scale(1.02);
    }
}

/*MEDIA QUERIES*/
/*ECRAN MOYEN*/
@media screen and (min-width: 600px) {
    #restaurants {
        display: flex;
        flex-wrap: wrap;
        & h2 {
            min-width: 100%;
        }
    }

    .card-welcome {
        margin: .5rem .5rem;
        min-width: 45%;
        flex: 1;
    }
}

/*GRAND ECRAN*/
@media screen and (min-width: 1000px) {
    .card-welcome {
        min-width: 22%;
        flex: 1;
    }
}